doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Pets Table
        a(href="/update-cobj") Add/update this table
        table
            thead
                tr
                    th Name
                    th Species
                    th Age
            tbody
                each pet in data
                    tr
                        td #{pet.properties.name}
                        td #{pet.properties.species}
                        td #{pet.properties.age}
        